{% extends "layout.html" %}
{% block content %}
<style>
    #username {
        margin-left: auto;
        margin-right: auto;
        width : 60%;
    }
    #password {
        margin-left: auto;
        margin-right: auto;
        width : 60%;
    }
    #submit {
        margin-left: 20%;
    }
    #remember {
        margin-left: 18.45%;
    }
    .rememberme {
        margin-left: 20%;
        font-size:120%;
    }
    .but {
        width:100px;
        height: 50px;
    }
</style>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" style="width:60%; margin-left: 20%;font-size:120%">
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
        {% endwith %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" style="margin-left: 20%;width:60%;font-size:180%">Đăng nhập</legend>
            <div class="form-group">
                <label class="form-control-label" for="username" style="margin-left: 20%;font-size:120%" >Tên người dùng</label>
                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                <label class="form-control-label" for="password" style="margin-left: 20%;font-size:120%" >Mật khẩu</label>
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label rememberme") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info but") }}
        </div>
        <small class="text-muted ml-2">
            <a href="#" style="margin-left:19.2%">Quên mật khẩu ?</a>
        </small>
    </form>
</div>
</body>
</html>
{% endblock content %}
