{% extends "layout.html" %}
{% block content %}
<style>
    #oldpass {
        margin-left: auto;
        margin-right: auto;
        width : 60%;
    }
    #newpass {
        margin-left: auto;
        margin-right: auto;
        width : 60%;
    }
    #retype {
        margin-left: auto;
        margin-right: auto;
        width : 60%;
    }
    #submit {
        margin-left: 20%;
    }
    .but {
        width:118px;
        height: 50px;
    }
</style>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" style="width:60%; margin-left: 20%;font-size: 19px">
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
        {% endwith %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" style="margin-left: 20%;width:60%;font-size:180%">Đổi mật khẩu</legend>
            <div class="form-group">
                <label class="form-control-label" for="oldpass" style="margin-left: 20%;font-size:120%" >Mật khẩu cũ</label>
                {% if form.oldpass.errors %}
                    {{ form.oldpass(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback" style="margin-left: 20%">
                        {% for error in form.oldpass.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.oldpass(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                <label class="form-control-label" for="newpass" style="margin-left: 20%;font-size:120%" >Mật khẩu mới</label>
                {% if form.newpass.errors %}
                    {{ form.newpass(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback" style="margin-left: 20%">
                        {% for error in form.newpass.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.newpass(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                <label class="form-control-label" for="retype" style="margin-left: 20%;font-size:120%" >Nhập lại mật khẩu</label>
                {% if form.retype.errors %}
                    {{ form.retype(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback" style="margin-left: 20%">
                        {% for error in form.retype.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.retype(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info but") }}
        </div>
    </form>
</div>
{% endblock %}
